/* Reset básico */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ebc9f0d2;
    font-family: Arial, sans-serif;
    color: #4a148c;
}

/* Container principal */
.container {
    display: flex;
    min-height: 100vh;
}

/* Seção de seleção de personagens */
.selecao-personagem {
    width: 250px;
    background-color: #7c34a4;
    padding: 15px;
    color: white;

    overflow-y: auto;
    transition: width 0.3s ease-out;
}

.selecao-personagem.recolhido {
    width: 50px;
}

.selecao-personagem.recolhido h2,
.selecao-personagem.recolhido ul,
.selecao-personagem.recolhido #adicionar-personagem {
    display: none;
}

#toggle-esquerda {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 10px;
    color: white;
}

.selecao-personagem h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

#lista-personagens {
    list-style: none;
}

#lista-personagens li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #7c4dff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#lista-personagens li:hover {
    background-color: #651fff;
}

#adicionar-personagem {
    width: 100%;
    padding: 10px;
    background-color: #7c4dff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

#adicionar-personagem:hover {
    background-color: #aa00ff;
}

/* Conteúdo principal */
.conteudo-principal {
    flex: 1;
    overflow-y: auto;
}

.head {
    text-align: center;
    background-color: #691b9a;
    padding: 10px;
}

.head a {
    color: white;
    text-decoration: none;
    margin: 0 1vw;
    font-size: 1.25em;
    display: inline-block;
}

.numero-editavel {
    width: 60px; /* Largura do input */
    padding: 5px;
    border: 1px solid #ab47bc;
    border-radius: 5px;
    font-family: inherit;
    font-size: 1em;
    text-align: center;
    background-color: #f3e5f5;
    color: #4a148c;
    margin-right: 10px; /* Espaço entre o input e o texto "DT" */
}

.dt-texto {
    font-size: 1.25em;
    color: white;
}

#titulo-aba {
    text-align: center;
    margin: 20px 0;
    color: #4a148c;
}

.descricao-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    padding: 20px;
}

.descricao {
    border: 1px solid #ab47bc;
    padding: 15px;
    border-radius: 5px;
    background-color: #e1bee7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.editavel-titulo, .descricao-texto, .editavel-opcao {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    cursor: pointer;
    color: #4a148c;
}

.editavel-temporario {
    width: auto;
    padding: 5px;
    border: 1px solid #ab47bc;
    border-radius: 5px;
    font-family: inherit;
    font-size: inherit;
    resize: vertical;
    background-color: #f3e5f5;
    color: #4a148c;
    margin-left: 10px;
}

.editavel-temporario::placeholder {
    color: #7e57c2;
    font-style: italic;
}

#adicionar-container {
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #7c4dff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    display: block;
    width: calc(100% - 40px);
    max-width: 300px;
    transition: background-color 0.3s;
}

#adicionar-container:hover {
    background-color: #651fff;
}

.excluir-container {
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: #d500f9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.875em;
    transition: background-color 0.3s;
}

.excluir-container:hover {
    background-color: #aa00ff;
}

footer {
    background-color: #7c34a4;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .selecao-personagem {
        width: 100%;
        height: auto;
    }

    .head a {
        margin: 10px;
        font-size: 1.1em;
    }

    .descricao-container {
        grid-template-columns: repeat(auto-fit, minmax(px, 1fr));
        padding: 10px;
    }

    .descricao {
        padding: 10px;
    }

    #adicionar-container {
        max-width: none;
    }

    .container {
        flex-direction: column;
    }

    .selecao-personagem {
        width: 100%;
        border-right: none;
    }

    .selecao-personagem.recolhido {
        width: 100%;
        height: 50px;
        overflow: hidden;
    }

    .selecao-personagem.recolhido h2,
    .selecao-personagem.recolhido ul,
    .selecao-personagem.recolhido #adicionar-personagem {
        display: none;
    }

    #toggle-esquerda {
        display: block;
        margin: 0 auto;
    }

    .conteudo-principal {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .head a {
        margin: 5px;
    }

    .descricao-container {
        grid-template-columns: 1fr;
    }
}